<main>

    <header>

        <span></span>
        <h1>swedavia<span>swedish airport</span></h1>

    </header>

    <section>

        <form action="POST">

            <label>Username
        <input type="text" (keyup)="onNames($event)" required>
      </label>

            <label> Password
        <input type="password" required minlength="8" maxlength="18" pattern="[0-9]{8,18}">
      </label>

            <div>
                <input type="submit" (click)="animation()" value="Отправить">
                <a href="#">Forgot password?</a>
            </div>
        </form>

    </section>

    <footer>
        <p>Powered by<a href="#">Cygate</a></p>
    </footer>

</main>

<aside>
    <p>Добро пожаловать {{ names }}</p>
</aside>